.rootweb {
    margin: 5% 10% 15% 10%;
    color: black;
    background: rgb(223, 247, 253);
    &:where([data-theme="dark"] *) {
        color: white;
        background: linear-gradient(to bottom, transparent, rgb(0, 34, 47))
            rgb(0, 41, 52);
    }
}
@media (max-width: 400px) {
    .rootweb {
        font-size: xx-small;
        margin: 0px;
    }
}
@media (max-width: 600px) {
    .rootweb {
        font-size: small;
        margin: 0px;
    }
}
@media (max-width: 1000px) {
    .rootweb {
        font-size: smaller;
        margin: 0px;
    }
}
