# dependencies
/node_modules  
# next.js
/.next 
# Environment
.env
.env.*
!.env.example
*.env 
# typescript
*.tsbuildinfo
next-env.d.ts

drafts.md
/temp
/frequent-commands.md


/credentials.yaml
/logs